<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% for follower in followers %}
        <div class="flex items-center bg-white shadow rounded-lg p-4 hover:bg-gray-50 transition">
            {{ include('shared/_avatar.html.twig', {size: 32, profile: follower.userProfile}) }}
            <div>
                <a href="{{ path('app_user_profile', { id: follower.id }) }}" class="text-lg font-semibold text-gray-600 hover:underline">
                    {{ follower.email }}
                </a>
            </div>
        </div>
    {% else %}
        <div class="text-gray-500">No follows yet.</div>
    {% endfor %}
</div>